*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Netbeans
/nbproject/private/
/Cliente/nbproject/private/
/Servidor/nbproject/private/
/CommonLib/nbproject/private/
/CommonLib/build/
/Servidor/build/
/CommonLib/dist/
/Cliente/build/
/Servidor/dist/